*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "sass/colors";
@import "sass/layout";
@import "sass/spacing";
@import "sass/tipografia";


body{
    background-color: $black-dark;
}


