$black-normal: #0F0F0F;
$black-dark: #0B0B0B;
$black-light: #131313;

$green-normal: #34AB5C;
$green-dark: #298348;
$green-light: #4AC974;


$white-normal: #F4F4F4;
$white-dark: #CFCFCF;
$white-light: #FFFFFF;


$gray-1: #777;
$gray-2: #303030;
